{% extends "base.html" %}

{% block announce %}
<p>Join us <a href="https://communityinviter.com/apps/cloud-custodian/c7n-chat">on Slack</> to meet other people in the community!</p>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      !function(){var e,t,n;e="3aad4e8f7cf269d",t=function(){Reo.init({clientID:"3aad4e8f7cf269d"})},(n=document.createElement("script")).src="https://static.reo.dev/"+e+"/reo.js",n.defer=!0,n.onload=t,document.head.appendChild(n)}();
    </script>
{% endblock %}
